:root,page {
  --color-primary: #497EF6;
  --color-danger: #EA0000;
  --color-success: #0CAF60;
  --color-warning: #FF9900;
  --color-default: #666;
  --color-bg: #F2F2F2;
  --padding-lg: 16px;
  --padding-md: 12px;
  --padding-sm: 8px;
  --padding-mini: 4px;
}